[submodule "Submodules/CEF"]
	path = Submodules/CEF
	url = https://github.com/rbnpontes/CEF3Binaries
[submodule "Submodules/EngineExamples"]
	path = Submodules/EngineExamples
	url = https://github.com/rbnpontes/REngineExamples
